In [1]:
import pandas as pd

In [2]:
data_name = "data.csv"

In [3]:
data = pd.read_csv(data_name)

In [4]:
list(data.columns.values)

['Year',
 'Industry_aggregation_NZSIOC',
 'Industry_code_NZSIOC',
 'Industry_name_NZSIOC',
 'Units',
 'Variable_code',
 'Variable_name',
 'Variable_category',
 'Value',
 'Industry_code_ANZSIC06']

In [5]:
import rpy2.robjects as ro
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
from rpy2.robjects.conversion import localconverter
import rpy2.situation
from rpy2.robjects.packages import importr
import rpy2.robjects as robjects

In [6]:
with localconverter(ro.default_converter + pandas2ri.converter):
  r_from_pd_df = ro.conversion.py2rpy(data)
r_from_pd_df

R object with classes: ('data.frame',) mapped to:
[IntSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
  Year: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('RTYPES.INTSXP',) mapped to:
[2,018, 2,018, 2,018, 2,018, ..., 2,013, 2,013, 2,013, 2,013]
  Industry_aggregation_NZSIOC: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['Level 1', 'Level 1', 'Level 1', 'Level 1', ..., 'Level 3', 'Level 3', 'Level 3', 'Level 3']
  Industry_code_NZSIOC: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['99999', '99999', '99999', '99999', ..., 'ZZ11', 'ZZ11', 'ZZ11', 'ZZ11']
  Industry_name_NZSIOC: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['All indu..., 'All indu..., 'All indu..., 'All indu..., ..., 'Food pro..., 'Food pro..., 'Food pro..., 'Food pro...]
...
  Variable_code: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['Total in..., 'Sales, g..., 'Interest..., 'Non-oper..., ..., 'Margin o..., 'Return o..., 'Return o..., 'Liabilit...]
  Variable_name: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['Financia..., 'Financia..., 'Financia..., 'Financia..., ..., 'Financia..., 'Financia..., 'Financia..., 'Financia...]
  Variable_category: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['691859', '605766', '63509', '22583', ..., '40', '12', '5', '46']
  Value: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
['ANZSIC06..., 'ANZSIC06..., 'ANZSIC06..., 'ANZSIC06..., ..., 'ANZSIC06..., 'ANZSIC06..., 'ANZSIC06..., 'ANZSIC06...]

In [7]:
with localconverter(ro.default_converter + pandas2ri.converter):
  pd_from_r_df = ro.conversion.rpy2py(r_from_pd_df)
pd_from_r_df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
27805,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27806,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27807,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27808,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27809,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [8]:
utils = importr("utils")  
base = importr('base')

In [9]:
rpy2.robjects.r('''
      myfunc <- function(df, name){
            df[,name] <- df[,name] 
            df
        }
        ''')

R object with classes: ('function',) mapped to:

In [10]:
rsort = rpy2.robjects.r['sort']
res = rsort(robjects.IntVector([1,2,3]), decreasing=True)
res

R object with classes: ('RTYPES.INTSXP',) mapped to:
[3, 2, 1]

In [11]:
rf = rpy2.robjects.r['myfunc']
with localconverter(ro.default_converter + pandas2ri.converter):
    data= ro.conversion.rpy2py(rf(r_from_pd_df, 'Value'))
data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
27805,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27806,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27807,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27808,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27809,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."